<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/layout::app_layout(~{::title},~{::script},~{::div.task-container})}">
<head>
<title>New Task</title>
<script
	type="text/javascript"
	th:src="@{/js/script.js}"></script>
</head>
<body>
	<div class="task-container">
		<th:block
			th:insert="~{fragments/booth_status_modal :: modal_status}"></th:block>
		<th:block th:insert="~{fragments/task_type_modal :: modal_task}"></th:block>
		<th:block
			th:each="notification:${notifications}"
			th:insert="~{fragments/notification :: notification}"></th:block>
		<th:block
			th:insert="~{fragments/confirmation_modal :: modal_confirmation}"></th:block>
		<div class="task-form shadow p-3 mb-5 bg-body rounded">
			<form
				method="post"
				th:action="@{/task/new}"
				th:object="${task}">
				<div class="row">
					<div class="col-sm-5">
						<label
							onclick="openStatusComModal()"
							class="custom-badge"
							for="statutCom"
							id="status-com-badge">Essai Payant</label>
						<input
							th:field="*{booth.statutCom}"
							type="hidden"
							id="statutCom" />
						<label
							for="statutIVP"
							class="custom-badge"
							id="status-iv-badge">V</label>
						<input
							th:field="*{booth.statutIVP}"
							type="hidden"
							id="statutIVP" />
						<input
							th:field="*{id}"
							type="hidden"
							id="id" />
					</div>
					<div class="col-sm form-check form-switch">
						<input
							th:field="*{prio}"
							onclick="handleTaskPriority(event)"
							class="form-check-input"
							type="checkbox"
							role="switch"
							id="prio" />
						<label
							class="form-check-label"
							for="prio">Prio</label>
					</div>
					<div class="col-sm align-self-end">
						<img
							alt="logo"
							width="100px"
							height="43px"
							th:src="@{'/icons/vexpo.png'}" />
					</div>
				</div>
				<br />
				<div class="row mb-1">
					<div class="col-sm">
						<label
							for="boothId"
							class="custom-input-label">Booth ID</label>
						<input
							th:field="*{booth.boothId}"
							id="boothId"
							type="text"
							class="form-control"
							placeholder="Booth ID"
							aria-label="BoothId" />

					</div>
					<div class="col-sm">
						<label
							for="boothUrl"
							class="custom-input-label">Booth URL</label>
						<input
							th:field="*{booth.boothUrl}"
							id="boothUrl"
							onchange="handleUrlOnChange(event)"
							type="text"
							class="form-control"
							placeholder="https://"
							aria-label="https://" />
					</div>
				</div>
				<div class="row mb-1">
					<div class="col-sm-6">
						<label
							for="category"
							class="custom-input-label">Category</label>
						<input
							th:field="*{booth.category}"
							id="category"
							type="text"
							class="form-control"
							placeholder="Booth Categorie"
							aria-label="Booth Categorie" />
					</div>
					<div class="col-sm-3">
						<label
							for="nbBefore"
							class="custom-input-label">Nb Before</label>
						<input
							th:field="*{booth.nbBefore}"
							id="nbBefore"
							type="number"
							class="form-control"
							placeholder="0"
							aria-label="0" />
					</div>
					<div class="col-sm-3">
						<label
							for="nbBefore"
							class="custom-input-label">Nb After</label>
						<input
							th:field="*{booth.nbAfter}"
							id="nbAfter"
							type="number"
							class="form-control"
							placeholder="0"
							aria-label="0" />
					</div>
				</div>
				<div class="row mb-1">
					<div class="col-sm">
						<label
							for="taskType"
							class="custom-input-label">Task Type</label>
						<div class="input-group mb-1">
							<input
								th:value="${task == null ? _:  task.taskType}"
								th:field="*{taskType}"
								id="taskType"
								type="text"
								class="form-control"
								placeholder="Click the find button"
								aria-label="Click the find button" />
							<button
								onclick="openTaskTypeModal()"
								class="btn btn-outline-secondary"
								type="button"
								id="task-type-button">
								<img th:src="@{'/icons/find.png'}" />
							</button>
						</div>
					</div>
					<div class="col-sm">
						<label
							for="totalWorkingTime"
							class="custom-input-label">Total Working Time</label>
						<div class="input-group mb-1">
							<input
								id="totalWorkingTime"
								th:value="${{task == null ? _: task.totalWorkingTime}}"
								disabled
								type="text"
								class="form-control"
								placeholder="00:00"
								aria-label="00:00" />
							<button
								onclick=""
								class="btn btn-outline-secondary"
								type="button"
								id="working-time-edit">
								<img th:src="@{'/icons/edit.png'}" />
							</button>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label
							for="note"
							class="custom-input-label">Note</label>
						<textarea
							th:field="*{note}"
							id="note"
							class="form-control"
							placeholder="Put some comment..."
							aria-label="Put some comment...."></textarea>
					</div>
				</div>
				<button
					type="submit"
					class="btn btn-primary">
					Save
					<img
						alt="save-btn"
						th:src="@{'/icons/save.png'}" />
				</button>
				<button
					type="button"
					class="btn btn-primary">
					Start
					<img
						alt="play-btn"
						th:src="@{'/icons/play.png'}" />
				</button>
			</form>
		</div>
		<div class="task-info">
			<table class="table">
				<thead>
					<tr class="table-dark">
						<th scope="col">General Info</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Start Date: [[${{task == null ? '---':
							task.startDate}}]]</td>
					</tr>
					<tr>
						<td>Total Working Time : [[${{(task == null) ? '---':
							task.totalWorkingTime}}]] (hh:mm)</td>
					</tr>
					<tr>
						<td>Productivity: [[${task == null ? '---':
							task.productivity}]] %</td>
					</tr>
					<tr>
						<td>Total Working Time Goal: 00:00 (hh:mm)</td>
					</tr>
					<tr>
						<td>To submit before: ---</td>
					</tr>
					<tr>
						<td>Task state: [[${(task == null) ? '---':
							task.taskState}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		<th:block
			th:unless="${task.id == null}"
			th:insert="~{fragments/delete_fab :: delete-fab}"></th:block>
	</div>
</body>
</html>