<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
<link
	rel="stylesheet"
	th:href="@{/css/main.css}" />
<meta charset="UTF-8"/>
<script
	type="text/javascript"
	th:src="@{/js/script.js}"></script>
<title>New Task</title>
</head>
<body>
	<th:block th:insert="~{fragments/appBar :: app_bar}"></th:block>
	<div class="drawer-container">
		<th:block th:insert="~{fragments/appDrawer :: drawer}"></th:block>
	</div>
	<th:block th:insert="~{fragments/boothStatusModal :: modal_status}"></th:block>
	<th:block th:insert="~{fragments/taskTypeModal :: modal_task}"></th:block>
	<div class="task-container">
		<div class="task-form shadow p-3 mb-5 bg-body rounded">
			<form
				method="post"
				action="#">
				<div class="row">
					<div class="col-sm-5">
						<span
							onclick="openStatusComModal()"
							class="badge bg-info"
							id="status-com-badge">Essai Payant</span> <span
							class="badge bg-info"
							id="status-iv-badge">V</span>
					</div>
					<div class="col-sm form-check form-switch">
						<input
							onclick="handleTaskPriority(event)"
							class="form-check-input"
							type="checkbox"
							role="switch"
							id="prio"/>
						<label
							class="form-check-label"
							for="prio">Prio</label>
					</div>
					<div class="col-sm align-self-end">
						<img
							alt="logo"
							width="100px"
							height="43px"
							th:src="@{~/icons/vexpo.png}" />
					</div>
				</div>
				<br />
				<div class="row mb-4">
					<div class="col-sm">
						<input
							id="boothId"
							type="text"
							class="form-control"
							placeholder="Booth ID"
							aria-label="BoothId"/>
					</div>
					<div class="col-sm">
						<input
							id="BoothUrl"
							onchange="handleUrlOnChange(event)"
							type="text"
							class="form-control"
							placeholder="BoothUrl"
							aria-label="BoothUrl"/>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-sm-6">
						<input
							id="Category"
							type="text"
							class="form-control"
							placeholder="Categorie"
							aria-label="Categorie"/>
					</div>
					<div class="col-sm-3">
						<input
							id="nbBefore"
							type="number"
							class="form-control"
							placeholder="Nb Before"
							aria-label="nbBefore"/>
					</div>
					<div class="col-sm-3">
						<input
							id="nbAfter"
							type="number"
							class="form-control"
							placeholder="Nb After"
							aria-label="NbAfter"/>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-sm">
						<div class="input-group mb-3">
							<input
								id="taskType"
								type="text"
								class="form-control"
								placeholder="Task Type"
								aria-label="TaskType"/>
							<button
								onclick="openTaskTypeModal()"
								class="btn btn-outline-secondary"
								type="button"
								id="button-addon2">
								<img th:src="@{~/icons/find.png}" />
							</button>
						</div>
					</div>
					<div class="col-sm">
						<input
							type="text"
							class="form-control"
							placeholder="Total working Time"
							aria-label="TotalWorkingTime"/>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-sm">
						<textarea
							id="note"
							class="form-control"
							placeholder="Note"
							aria-label="Note"></textarea>
					</div>
				</div>
				<button
					type="submit"
					class="btn btn-primary">Save</button>
				<button
					type="button"
					class="btn btn-primary">
					Start <img
						alt="play-btn"
						th:src="@{~/icons/play.png}" />
				</button>
			</form>
		</div>
		<div class="task-info">
			<table class="table">
				<thead>
					<tr class="table-dark">
						<th scope="col">General Info</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Start Date: <span th:text="${task == null ? '---':  #dates.format(task.startDate,'dd-MM-yyyy')}"></span></td>
					</tr>
					<tr>
						<td>Total Working Time : <span th:text="${{(task == null) ? '---': task.totalWorkingTime}}"></span> (hh:mm)</td>
					</tr>
					<tr>
						<td>Productivity: 0 %</td>
					</tr>
					<tr>
						<td>Total Working Time Goal: 00:00 (hh:mm)</td>
					</tr>
					<tr>
						<td>To submit before: ---</td>
					</tr>
					<tr>
						<td>Task state: <span th:text="${(task == null) ? '---': task.taskState}"></span> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>