<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div
		th:fragment="modal_status"
		id="booth-status-modal"
		class="modal-container">
		<div class="modal-content">
			<div class="status-com-group">
				Status Com
				<label for="essai">
					Essai
					<input
						onclick="handleStatusCom(event)"
						value="Essai"
						name="statu-com"
						class="form-check-input"
						type="radio"
						id="essai" />
				</label>
				<label for="abonee">
					Abonnée
					<input
						onclick="handleStatusCom(event)"
						value="Abonnée"
						name="statu-com"
						class="form-check-input"
						type="radio"
						id="abonee" />
				</label>
				<label for="essaiPayant">
					EssaiPayant
					<input
						onclick="handleStatusCom(event)"
						value="EssaiPayant"
						name="statu-com"
						class="form-check-input"
						type="radio"
						id="essaiPayant" />
				</label>
				<label for="degradee">
					Dégradée
					<input
						onclick="handleStatusCom(event)"
						value="Dégradée"
						name="statu-com"
						class="form-check-input"
						type="radio"
						id="degradee" />
				</label>
				<label for="abondon">
					Abandon
					<input
						onclick="handleStatusCom(event)"
						value="Abandon"
						name="statu-com"
						class="form-check-input"
						type="radio"
						id="abandon" />
				</label>
			</div>
			<div class="status-iv-group">
				Status IVP
				<label for="status-i">
					<input
						name="statu-iv"
						onclick="handleStatusCom(event)"
						value="I"
						class="form-check-input"
						type="radio"
						id="status-i" />
					I
				</label>
				<label for="status-v">
					<input
						onclick="handleStatusCom(event)"
						name="statu-iv"
						value="V"
						class="form-check-input"
						type="radio"
						id="status-v" />
					V
				</label>
				<label for="status-p">
					<input
						onclick="handleStatusCom(event)"
						name="statu-iv"
						value="P"
						class="form-check-input"
						type="radio"
						id="status-pv" />
					P
				</label>
			</div>
		</div>
		<button
			id="status-com"
			onclick="closeModal(event)"
			class="modal-close-btn btn btn-light">
			<img th:src="@{/icons/cross.png}" />
		</button>
	</div>
</body>
</html>