<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<div
		th:fragment="app_bar"
		class="app-bar">
		<nav class="navbar">
			<div class="container-fluid ">
				<span class="app-par-logo">My productivity</span>
				<form th:action="@{/logout}" method="post">
					<button
						class="btn-color btn btn-outline-light"
						type="submit">
						Logout
					</button>
				</form>
			</div>
		</nav>
	</div>
</body>
</html>