<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div
		th:fragment="app_bar"
		class="app-bar">
		<nav class="navbar">
			<div class="container-fluid ">
				<span class="app-par-logo">My productivity</span>
				<div class="app-bar-button">
					<img
						class="notif-icon"
						th:src="@{/icons/user.png}" />
					<form
						th:action="@{/logout}"
						method="post">
						<button
							class="btn-color btn btn-outline-light"
							type="submit">Logout</button>
					</form>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>