<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div
		th:fragment="modal_confirmation"
		id="confirmation-modal"
		class="modal-container">
		<div class="modal-confirmation-content">
			<div class="modal-confirmation-header">Warning!!</div>

			<div class="modal-confirmation-message">Are you sure that you
				want to delete booth [[${task.booth==null? "---" :
				task.booth.boothId}]]?</div>
			<div class="modal-confirmation-button">
				<a
					class="link-button"
					th:href="@{/task/delete/{taskId}(taskId=${task.id})}">Yes </a>
				<button
					onclick="closeConfirmationComModal()"
					class="btn btn-success">No</button>
			</div>
		</div>
	</div>
</body>
</html>