<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="custom_card">
		<div
			th:id="${task.id}"
			class="custom-card"
			draggable="true"
			ondragstart="onDrageHandler(event)">
			<div class="custom-card-row">
				<span
					class="bold-text-card"
					th:text="${task.booth.boothId}"></span>
				<img
					width="16px"
					height="16px"
					th:unless="${#strings.isEmpty(task.note)}"
					th:src="@{/icons/mail.png}" />
			</div>
			<div class="custom-card-row small-font">
				<span th:text="${task.taskType}"></span>
				<span th:text="${{task.startDate!=null?task.startDate:_}}"></span>
			</div>
		</div>
	</th:block>
</body>
</html>