<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div
		th:fragment="modal_task"
		id="task-type-modal"
		class="modal-container">
		<div
			th:replace="~{layouts/modal_layout::modal_layout(~{::div.modal-content})}">
			<div class="modal-content">
				<th:block th:each="taskTypeGroup:${allTaskType}">
					<div class="btn-group-modal">
						<button
							th:each="taskTypeElement:${taskTypeGroup.variant}"
							onclick="clickedTaskType(event)"
							class="btn btn-outline-primary"
							th:text="${taskTypeElement.taskType}"></button>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>